* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  min-height: 100vh;
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
  text-align: center;
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 50%;
  border: none;
  padding: 10px;
}

.search-button {
  background: lightslategray;
  border: none;
  padding: 10px 20px;
  color: #fff;
}

.recipes {
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
}

.recipe {
  width: 50%;
  margin: 50px 0;
  position: relative;
}

.recipe h1 {
  margin-bottom: 30px;
}

.recipe img {
  width: 200px;
  border-radius: 50%;
  margin-bottom: 30px;
}

.recipe ol li {
  text-align: left;
  width: 300px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}